// Footer
footer {
  display: block;
  background: #202328;
  padding-top: 64px;
}
.container {
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__social {
  display: flex;
  flex-wrap: wrap;
  width: 312px;
  justify-content: flex-start;
}
.footer__social p {
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 32px;
  line-height: 24px;
}
.footer__social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.footer__social-one {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: white;
  justify-self: flex-start;
}
.footer__social-one .footer__list {
  display: flex;
  margin-bottom: 20px;
}
.footer__social-one p {
  margin-bottom: 9px;
}
.logo {
}
footer .menu {
  margin-top: 18px;
  gap: 16px 33px;
}
.footer__list {
  list-style-type: none;
  gap: 16px 17px;
}
.zero {
  flex-wrap: nowrap !important;
}
.zero .footer__item {
  height: 20px;
}
.tel {
  padding-left: 17px;
  border-left: 1px solid #FFFFFF;
  height: 30px !important;
  line-height: 26px;
}
.tel a {
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
}
.email {
  padding-top: 18px;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}
footer .menu__item-link {
  color: white;
}
.footer__bottom {
  display: flex;
  border-top: 1px solid #FFFFFF;
  margin-top: 88px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  padding-top: 16px;
  justify-content: space-between;
  padding-bottom: 16px;
}